<footer class="footer">
  <section class="content-footer">
    <div class="content-footer-info"></div>
    <div class="rights-reserved">
      <p class="rights-reserved__description">
        © 2022 KLYM Software. Última actualización: 21 de Octubre del 2022
        Política de tratamiento de datos personales Diseñado y desarrollado por
        KLYM Software Copyright © 2022
      </p>
      <section class="social-networks">
        <img
          class="social-networks__img"
          src="assets/images/whatsapp.png"
          alt=""
        />
      </section>
    </div>
  </section>
</footer>
